:root{
    --light-bg-primary: white;
    --light-bg-secondary: #b4b7c6;
    --light-font-primary: #333333;
    --light-state-green: #07c92799;
    --light-state-yellow: #eccc1299;
    --light-state-grey: #2c2c2c;
    --light-state-font: #fff8f0;

    --dark-bg-primary: #111111;
    --dark-bg-secondary: #625d59;
    --dark-font-primary: #fff8f0;
    --dark-state-green: #1be60099;
    --dark-state-yellow: #ffbb00d0;
    --dark-state-grey: #2c2c2c;
    --dark-state-font: #fff8f0;

    --grid-size: 5rem;
    --keyboard-gap: 0.5rem;
    --key-height: 4rem;
    --key-width: 3rem;
    --tile-jump-duration: 0.3s;
    --header-height: 3rem;
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body, html{
    width: 100vw;
    height: 100vh;
    background: var(--bg-primary);
    color: var(--font-primary);
    overflow: hidden;
}

body.darkmode{
    --bg-primary: var(--dark-bg-primary);
    --bg-secondary: var(--dark-bg-secondary);
    --font-primary: var(--dark-font-primary);
    --state-green: var(--dark-state-green);
    --state-yellow: var(--dark-state-yellow);
    --state-grey: var(--dark-state-grey);
    --state-font: var(--dark-state-font);
}

body.lightmode{
    --bg-primary: var(--light-bg-primary);
    --bg-secondary: var(--light-bg-secondary);
    --font-primary: var(--light-font-primary);
    --state-green: var(--light-state-green);
    --state-yellow: var(--light-state-yellow);
    --state-grey: var(--light-state-grey);
    --state-font: var(--light-state-font);
}

/* styling the main layout */
.header{
    /* position: relative; */
    top: 0rem;
    left: 0rem;
    width: calc(100vw - 2rem);
    padding: 0.5rem 1rem;
    background-color: var(--bg-primary);
    border-bottom: 0.4rem solid var(--bg-secondary);
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    z-index: 100;
}

.game{
    width: 100vw;
    height: calc(100vh - var(--header-height));
    background: var(--bg-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.grid-container{
    width: max-content;
    height: max-content;
    background: inherit;
    display: grid;
    grid-template-columns: repeat(5, var(--grid-size));
    grid-template-rows: repeat(6, var(--grid-size));
    gap: 0.5rem;
}

.keyboard-container{
    width: max-content;
    height: max-content;
    background: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: var(--keyboard-gap);
}

/* header styling */
.icon{
    width: 2.3rem;
    height: 2.3rem;
}

.icon svg{
    width: 100%;
    height: 100%;
    
}

.icon svg path:nth-child(1){
    stroke: var(--font-primary);
    fill: var(--font-primary);
    stroke-width: 0.1px;
}

.title{
    flex: 2;
    text-align: center;
    font-size: 3rem;
}

/* grid styling */
.letter{
    border: 0.2rem solid var(--bg-secondary);
    border-radius: 0.2rem;
    position: relative;
    color: var(--font-primary);
}

.letter::before{
    content: attr(data);
    position: absolute;
    inset: 0.1rem;
    z-index: 20;
    font-size: 3rem;
    font-weight: 600;
    color: inherit;
    text-align: center;
    line-height: calc(var(--grid-size) - 0.1rem - 0.2rem);
}

.letter.filled{
    animation: filled-tile var(--tile-jump-duration);
}

@keyframes filled-tile {
    from, to{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
}

.letter.wrong{
    animation: wrong-tile 0.2s 3;
}

@keyframes wrong-tile {
    from, to{
        transform: translateX(0rem);
    }
    25%{
        transform: translate(-0.3rem);
    }
    75%{
        transform: translate(0.3rem);
    }
}

.letter.win{
    animation: win-tile 0.4s;
}

@keyframes win-tile {
    from, to{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(-0.5rem);   
    }
    80%{
        transform: translateY(0.1rem);   
    }
}

/* keyboard styling */
.keyboard-row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: var(--keyboard-gap);

}

.key{
    position: relative;
    width: var(--key-width);
    height: var(--key-height);
    text-transform: uppercase;
    z-index: 20;
    background-color: var(--bg-secondary);
    font-size: 2rem;
    font-weight: 600;
    color: var(--font-primary);
    text-align: center;
    line-height: calc(var(--key-height) - 0.1rem - 0.2rem);
    border-radius: 0.2rem;
    border: none;
    order: 2;
}

.key.special{
    width: max-content;
    padding: 0rem 0.7rem;
}

.enter{
    font-size: 1.7rem;
    order: 1;
}

.delete{
    order: 3;
}

.switch .enter{
    order: 3;
}

.switch .delete{
    order: 1;
}

/* media queries for responsive design */
@media screen and (max-height: 850px){ 
    :root{
        font-size: 10px;
    }
}


